@import 'setup';


/* GLOBAL */



* {
    list-style: none;
    margin: 0;
    text-decoration: none; 
}

body {
    background-color: white;

}

p{ 
    line-height: 1.9rem;
    letter-spacing: 0.1rem;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #1E140E;
}


/* HEADER */

.homeHeader {
    background-image: url(../assets/images/home-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.headerLogo {
    font-family: 'Dokdo', sans-serif;
    color: #FFC600;
    font-size: 41.5px;
}

a.headerLogo {
    position: relative;
    top: 20px;
    left: 40px;

}

.headerNav {
    float: right; 
    padding: 10px 20px 10px 10px;
}

.headerNav li {
    display: inline-block;
    padding: 10px 20px 10px 10px;

}
.headerNav li a {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 1px;
    text-align: center;
    color: #fafffe;
    text-transform: uppercase;
    display: inline-block; 
    padding: 10px 20px 10px 10px;

}
.headerNav li a:hover {
    color: #FFC600;
}

.headerHero {
    display: flex;
    width: 100%;
}

.heroImage {
    display: flex;
    width:40%;
    transform:translateY(20%)

}

.heroText {
    display: inline-block;
    color: white;
    margin-top: 100px;
    padding-left: 20px;
}

.heroText h3 {
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: #FAFFFE;
}

.heroText h1 {
    color: #FFC600;
    font-family: 'Dokdo', cursive;
    font-size: 5.5rem;
    margin: 0;

}




/* ABOUT */

.homeAbout {
    background-color: #1E140E;
    display: flex;
    padding: 100px 0;
    justify-content: center;

}

.aboutText {
    width: 60%;
    margin-top: 50px;
}

.aboutText h2 {
    color: #ffc600;
    font-family: "Dokdo", cursive;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 2px;
}

.aboutText p {
    color: #FAFFFE;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-right: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.aboutText button,
.button {
    background-color: #555F02;
    padding: 3px 5px;
    font-family: "Dokdo", cursive;
    line-height: 1.9rem;
    font-size: 2rem;    
    color: #FAFFFE;
    border: none;
}

.homeAbout img {
    width: 100%;
    margin: 10px 0px;
    box-shadow: -10px 10px 0  #555F02;
   float: right;
}

/* GALLERY */

.homeGallery {
    background:#262725;
    padding: 10% 5%;
    font-size: 0;
    text-align: center;
    display: flex;
}

.homeGallery img {
    width: calc(33.33% - 4%);
    margin: 2%;
    flex-wrap: wrap;
}

/* NAVDESCRIPTION */

.homeNavDescription {
    display: flex;
    flex-wrap: wrap;
    background: #1E140E;
    padding: 10%;
}

.homeNavDescription div {
    width: 45%;
}

.homeNavDescription h2 {
    font-size: 2.5rem;
    color: #FFC600;
    font-family: "Dokdo", cursive;
    padding: 0;
    
}

.homeNavDescription p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #FAFFFE;
}


/* ABOUTCONTINUED */

.homeGroup,
.homeLocation {
    background-color: #262725;
    display: flex;
    justify-content: space-between;
}




.homeGroup img {
    width: 45%;
    box-shadow: 10px 10px 0 #ffc600;
    transform: translateY(-20%);
}

.homeLocation img {
    width: 45%;
    box-shadow: -10px 10px 0 #ffc600;
    transform: translateY(15%);
   
}

.groupContent,
.locationContent {

    align-items: center;
    width: 50%;
    padding:9% 4%;
    
}

.groupContent h2,
.locationContent h2,
.aboutContinuedFreeTrial h2 {
    font-size: 3rem;
    color: #FFC600;
    font-family: "Dokdo", cursive;

}

.groupContent p,
.locationContent p,
.aboutContinuedFreeTrial p {
    color: #FAFFFE;
    font-family: "Lato", sans-serif;
    padding: 10px 0;
}

img.homeBanner {
    width: 100%;
}



.aboutContinuedFreeTrial {
    background: #1E140E;
}


.aboutContinuedFreeTrial {
padding: 10%;
text-align: center;

}
/* FOOTER */

footer {
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: #262725;
    color: #FAFFFE;
    padding: 2px 0 2px 0;

}
                    


/*                      blog                        */



/* BLOG HEADER */

.blogHeader {
    background-image: url(../assets/images/blog-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 100%;
}

.blogHeader h1 {
    color: #FFC600;
    font-family: 'Dokdo', cursive;
    font-size: 5.5rem;
    margin: 0;
    position: relative;
    top: 90px;
    left: 100px;
}




/* CONTENT blogContent */

.blogPost {
    background: #1E140E;
    width: 55%;
    transform: translateY(-100px)
}

.blogPost img {
    width: 100%;
    box-shadow: 10px 20px 0 #555F02;
    transform: translateY(-100px);
    transform: translateX(-10px);
}

.postContent {
    padding: 70px;
    box-shadow: 10px 10px 0 #555F02;
    transform: translateY(-10px);
    transform: translateX(-10px);
    line-height: 22px;
    letter-spacing: 1.5px;
}

.blogPost h2 {
    color: #FFC600;
    font-family: 'Dokdo', cursive;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}

.blogPost h3 {
    color: #FAFFFE;
    font-family: "Lato", sans-serif;
    font-style: italic;
}

.blogPost p {
    color: #FAFFFE;
    font-family: "Lato", sans-serif;
}


/* ASIDE */

aside {
    float: right;
    width: 25%;
    position: relative;
    bottom: 900px;
    background-color: #555F02;
    color: #FAFFFE;
    display: flex;
    flex-direction: column;
}
aside img {
    position: relative;
    bottom:20px;
    left: 20px;
    font-size: 0;
    line-height: 0;
}

aside h3 {
    font-family: 'Dokdo', cursive;
    padding: 0 0 20px 20px;
    font-size: 2rem;
    
}
aside h4 {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    padding: 20px;
}

aside h4,
aside li {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

aside ul {
    padding-left: 80px;
    padding-bottom: 50px;
}

aside li::before {
    content: "\2022";
    color: #ffc600;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }



/* COMMENT SECTION .blogComments */

.blogComments {
    width: 70%;
    display: inline-block;
}

.blogComments h2 {
    color: #FAFFFE;
    font-family: 'Dokdo', cursive;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0 120px;
}

.commentsContent {
    display: flex;
    padding: 20px 0;
}

.commentsContent img {
  padding: 40px;


}


.commentsContent h3 {
    color: #FFC600;
    display: inline-block;

}

.contentContent p {
    font-family: "Lato", sans-serif;
    color: #FAFFFE;
    width: 80%;
    display: inline-block;
}
.blogForm {
    background-color: #1E140E;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 75px;


}

.blogForm .blogFormName,
.blogForm .blogFormEmail,
.blogForm .blogFormText {
    background-color: #1E140E;
}

/*                         contact                          */


.contactHeader {
    background-image: url(../assets/images/contact-image-1.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
}

.contactHeader h1 {

    color: #FFC600;
    font-family: 'Dokdo', cursive;
    font-size: 5rem;
    margin: 0;
    position: relative;  
    top: 100px;
    left: 100px;
}

.contactForm {
    background-color: #262725;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 25px 25px 0 #FFC600;
    margin-left: 75px;
    transform: translateY(-90px);

}

input[type=text],
input[type=email] {
    width: 38%;
    margin-bottom: 50px;
    padding: 50px 0 20px 20px;
    background-color: #262725;
    color: lightgrey;
    border: none;
    border-bottom: 2px solid #ffc600;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    
  
}

textarea {
   width: 88%;
   background-color: #262725;
   border: 2px solid #FFC600;
   color: lightgrey;
   padding: 20px;
   font-family: "Lato", sans-serif;
   font-size: 1.2rem;
}

input[type="submit"] {
    width: 88%;
    color: #FAFFFE;
    padding: 10px 0;
    margin: 30px 0;
}

.social {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
    margin-bottom: 10px;
    transform: translateX(-40px);
    

}

.social i {
    color: #FFC600;
}


.methodAddress {
    float: right;
    position: relative;
    bottom: 380px;
    right: 40px;
    color: #FAFFFE;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    color: lightgrey;
}

.methodAddress h3:first-of-type{
    padding-bottom: 30px;
}


@import 'responsive';